# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
df=pd.read_csv('Orders.csv')
df.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

## Sub Problem 1: How to aggregate the amount_spent for unique customers?
#customer_totals = df.groupby('CustomerID')['amount_spent'].sum()
#customer_totals_df = customer_totals.reset_index(name='total_spent')
display(df.groupby(['CustomerID']).agg({'amount_spent':sum}))

# print the resulting table
#display(customer_totals_df)

In [7]:
#Sub Problem 1: How to aggregate the amount_spent for unique customers?
customer_totals = df.groupby('CustomerID')['amount_spent'].sum()
customer_totals

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [8]:
#hub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
customer_totals_df = customer_totals.reset_index(name='total_spent')

# calculate the quantiles of the total_spent column
quantiles = customer_totals_df['total_spent'].quantile([0.25, 0.75])
filtered_df = customer_totals_df.loc[(customer_totals_df['total_spent'] >= quantiles[0.25]) & (customer_totals_df['total_spent'] <= quantiles[0.75])]

filtered_df

      CustomerID  total_spent
4          12350       334.40
7          12354      1079.40
8          12355       459.40
11         12358      1168.06
16         12363       552.00
...          ...          ...
4316       18252       526.67
4321       18261       324.24
4323       18263      1213.16
4324       18265       801.51
4331       18276       335.86

[2169 rows x 2 columns]

In [9]:
# add a new column to the dataframe indicating whether the customer is a "VIP" or "Preferred"
filtered_df['customer_type'] = np.where(filtered_df['total_spent'] > quantiles[0.75], 'VIP', 'Preferred')

# print the resulting dataframe
filtered_df

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_15464/2394803979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['customer_type'] = np.where(filtered_df['total_spent'] > quantiles[0.75], 'VIP', 'Preferred')

      CustomerID  total_spent customer_type
4          12350       334.40     Preferred
7          12354      1079.40     Preferred
8          12355       459.40     Preferred
11         12358      1168.06     Preferred
16         12363       552.00     Preferred
...          ...          ...           ...
4316       18252       526.67     Preferred
4321       18261       324.24     Preferred
4323       18263      1213.16     Preferred
4324       18265       801.51     Preferred
4331       18276       335.86     Preferred

[2169 rows x 3 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [12]:
# assuming amount_spent is the total amount spent by each customer
VIP_customers = df[df['amount_spent'] > 10000]['CustomerID'].unique()
#Join the VIP customers with the original dataset to identify their countries.
VIP_countries = df[df['CustomerID'].isin(VIP_customers)]['Country']
#Count the number of VIP customers per country.
VIP_counts = VIP_countries.value_counts()
#Identify the country with the highest number of VIP customers.
most_VIP_country = VIP_counts.index[0]
print("The country with the most VIP customers is:", most_VIP_country)

The country with the most VIP customers is: United Kingdom

In [16]:

# define criteria for VIP customers
vip_threshold = 1000  # customers who have spent more than $1000 are considered VIP

# filter the sales data to include only transactions made by VIP customers
vip_sales_df = df[df['amount_spent'] > vip_threshold]

# group the filtered data by country and count the number of VIP customers in each country
vip_counts_by_country = vip_sales_df.groupby('Country')['CustomerID'].nunique()

# sort the results in descending order to identify the country with the most VIP customers
most_vip_country = vip_counts_by_country.sort_values(ascending=False).index[0]

print(f"The country with the most VIP customers is {most_vip_country}.")

The country with the most VIP customers is United Kingdom.

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [20]:


# define criteria for VIP and Preferred customers
vip_threshold = 1000  # customers who have spent more than $1000 are considered VIP
preferred_lower_threshold = 500  # customers who have spent between $500 and $1000 are considered Preferred
preferred_upper_threshold = 1000

# filter the sales data to include only transactions made by VIP and Preferred customers
vip_sales_df = df[df['amount_spent'] > vip_threshold]
preferred_sales_df = df[(df['amount_spent'] >= preferred_lower_threshold) & (df['amount_spent'] <= preferred_upper_threshold)]

# group the filtered data by country and count the number of VIP and Preferred customers in each country
vip_counts_by_country = vip_sales_df.groupby('Country')['CustomerID'].nunique()
preferred_counts_by_country = preferred_sales_df.groupby('Country')['CustomerID'].nunique()

# sum the counts of VIP and Preferred customers in each country to obtain the total number of VIP+Preferred customers in each country
vip_preferred_counts_by_country = vip_counts_by_country.add(preferred_counts_by_country, fill_value=0)

# sort the results in descending order to identify the country with the most VIP+Preferred customers
most_vip_preferred_country = vip_preferred_counts_by_country.sort_values(ascending=False).index[0]

print(f"The country with the most VIP+Preferred customers is {most_vip_preferred_country}.")

The country with the most VIP+Preferred customers is United Kingdom.